/*
 * (c) Barun Kharel <kharelbarun@gmail.com>
 */

.section-wrapper {
	height: 100vh;
	display: flex;
	flex-direction: column;
}
.section-wrapper > .section-content {
	flex-grow: 1;
}

.toolbar {
	position: sticky;
	top: 0;
	z-index: 1;
}

.toolbar {
	text-align: center;
	display: flex;
	align-items: center;
	font-weight: 600;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-bottom: 16px;
}

.toolbar .heading {
	margin: 0;
}

.toolbar {
	background-color: #282c34;
	color: white;
}

.section-content {
	text-align: center;
}

.footer {
	position: sticky;
	bottom: 0;
}

.footer {
	text-align: center;
	margin-top: 32px;
	padding: 8px 0;
	border-top: 1px solid #505050;
	background-color: #282c34;
	color: #ffffff;
	font-size: 14px;
}
