.react-logo {
	height: 1.5em;
	vertical-align: bottom;
	animation: react-logo-spin infinite 20s linear;
}

@keyframes react-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
